<header>
  <div class="nav-container">
    <nav>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Native</a
      >
      <a routerLink="/iscroll" routerLinkActive="active">Iscroll</a>
      <a routerLink="/overlay-scrollbar" routerLinkActive="active"
        >Overlay Scrollbar</a
      >
      <a routerLink="/cdk-scrollbar" routerLinkActive="active"
        >CDK Scrollbar</a
      >
    </nav>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>
