<div class="demo-container">
  <!-- Vertical Scrolling Example -->
  <div>
    <h3>Vertical Scroll</h3>

    <div class="scroll-container" appCdkScrollSync syncAxis="vertical">
      <div 
        id="first-scroll-container" 
        class="vertical-scroll" 
        cdkScrollable>
        <div *ngFor="let item of items" class="scroll-item">
          {{ item }}
        </div>
      </div>

      <div 
        id="second-scroll-container" 
        class="vertical-scroll" 
        cdkScrollable>
        <div *ngFor="let item of items" class="scroll-item">
          {{ item }}
        </div>
      </div>
    </div>
  </div>

  <!-- Horizontal Scrolling Example -->
  <div>
    <h3>Horizontal Scroll</h3>

    <div class="scroll-container" appCdkScrollSync syncAxis="horizontal">
      <div class="horizontal-scroll" cdkScrollable>
        <div class="horizontal-content">
          <div *ngFor="let item of items" class="horizontal-item">
            {{ item }}
          </div>
        </div>
      </div>

      <div class="horizontal-scroll" cdkScrollable>
        <div class="horizontal-content">
          <div *ngFor="let item of items" class="horizontal-item">
            {{ item }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Both Directions Example -->
  <div>
    <h3>Both Directions</h3>

    <div class="scroll-container" appCdkScrollSync syncAxis="both">
      <div class="both-scroll" cdkScrollable>
        <div class="both-content">
          <table>
            <tr *ngFor="let row of tableData">
              <td *ngFor="let cell of row">{{ cell }}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="both-scroll" cdkScrollable>
        <div class="both-content">
          <table>
            <tr *ngFor="let row of tableData">
              <td *ngFor="let cell of row">{{ cell }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Group Example -->
  <div>
    <h3>Grouped Scrolls (Group 1)</h3>

    <div class="scroll-container" appCdkScrollSync [scrollGroup]="scrollGroups">
      <div id="group1-scroll1" class="vertical-scroll" cdkScrollable>
        <div *ngFor="let item of items" class="scroll-item">
          Group 1 - Scroll 1: {{ item }}
        </div>
      </div>

      <div id="group1-scroll2" class="vertical-scroll" cdkScrollable>
        <div *ngFor="let item of items" class="scroll-item">
          Group 1 - Scroll 2: {{ item }}
        </div>
      </div>
    </div>
  </div>

  <div>
    <h3>Grouped Scrolls (Group 2)</h3>

    <div class="scroll-container" appCdkScrollSync [scrollGroup]="scrollGroups">
      <div id="group2-scroll1" class="vertical-scroll" cdkScrollable>
        <div *ngFor="let item of items" class="scroll-item">
          Group 2 - Scroll 1: {{ item }}
        </div>
      </div>

      <div id="group2-scroll2" class="vertical-scroll" cdkScrollable>
        <div *ngFor="let item of items" class="scroll-item">
          Group 2 - Scroll 2: {{ item }}
        </div>
      </div>
    </div>
  </div>
</div>